<div class="container">
  <div>
    <h1>
      Team Generator 
    </h1>
    <ul class="list">
         <!-- use of structural directives (ngfor)  only changes the structure of the HTML-->
   <li *ngFor="let member of members">
{{member}}
   </li>
    </ul>
  </div>
  <div class="add-members-container">
    <input #addMemberInput type="text" placeholder="Name" 
    (input)="onInput(addMemberInput.value)"
   [value]="newMemberName"
    />
    <button (click)="addMember()">
      Add
    </button>
  </div>
  <div class="input-container">
 
    <input class="" type="text" placeholder="# of teams"/>
    <button>
      Generate
    </button>
  </div>
  <!-- again *ngif is the structural directive -->
  <p *ngIf="errorMessage">
    {{errorMessage}}
  </p>

</div>
